@import "tailwindcss";

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

@theme {
  --font-family: "Syne", sans-serif;
  --font-optical-sizing: auto;
  --font-weight: <weight>;
  --font-style: normal;
}
